body {
    margin: 10px;
}

h1 {
    font-size: 50px;
    border-left-width: 5px;
    line-height: 20px;
    border-left-style: solid;
    border-left-color: green;
}

p {
    font-size: 25px;
}

button.navBtn {
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button.productBtn {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 10px;
    cursor: pointer;
}
button.productBtnE {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 10px;
    cursor: pointer;
}

img.productBtnIMG {
    width: 258.5px;
    height: 258.5px;
    padding: 5px 10px;
    border-radius: 20px;
}
img.productBtnIMGE {
    width: 258.5px;
    height: 258.5px;
    padding: 5px 10px;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
}

footer {
    background-color:forestgreen;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}