body {
    background-color: #f1f1f1;
    margin: 10px;
}

header, footer {
    background-color:green;
    color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: green;
    border-radius: 7.5px 0px 0px 7.5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(31, 212, 31);
  border-radius: 7.5px 0px 0px 7.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 255, 90);
}

h1 {
    font-size: 60px;
    border-left-width: 5px;
    line-height: 30px;
    border-left-style: solid;
    border-left-color: green;
}

h2 {
    font-size: 35px;
    border-left-width: 5px;
    line-height: 15px;
    border-left-style: solid;
    border-left-color: green;
}

h3 {
    font-size: 30px;
    border-left-width: 5px;
    line-height: 10px;
    border-left-style: solid;
    border-left-color: green;
}

h4 {
    font-size: 15px;
    border-left-width: 5px;
    line-height: 5px;
}

p {
    font-size: 25px;
    border-left-width: 5px;
    line-height: 25px;
    border-left-style: solid;
    border-left-color: green;
}

button.navBtn {
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.nProductBtn {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.productGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

img.nProductBtnIMG {
    max-width: 90%;
    padding: 10px;
    border-radius: 20px;
}

.productText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    opacity: 0.9;
}

#productIMG {
    width: 450px;
    height: auto;
    padding: 5px 10px;
    border-radius: 5px;
}

#productBtnIMG {
    background-color: darkgreen;
    color: white;
    padding: 3px 0px 0px 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#productIMGB {
    display: block;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

input[type=text], [type=password], [type=date], select, textarea {
    width: 475px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkgreen;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}

.inputpage {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#aiBtn {
    font-size: 20px;
    position: fixed;
    max-width: 150px;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #dddddd;
    color: rgb(44, 44, 44);
    cursor: pointer;
    z-index: 1;
}

#SidePanel {
    overflow: auto;
    background-color: #f1f1f1;
    position: fixed;
    width: 445px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border-style: double;
    border-color: black;
    z-index: 2;
}

#SidePanel:not(:hover) {
    opacity: 0.35;
}

#inputForm {
    position: fixed;
    bottom: 7.5px;
}

.AIBtn {
    background-color: forestgreen;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#userInput {
    width: 317.5px;
}

#aiOutput {
    font-size: 20px;
    border-left-width: 2.5px;
    line-height: 20px;
    border-left-style: solid;
    border-left-color: green;
}

#loader {
    position: absolute;
    top: 50%;
    left: 222.5px;
    border: 5px solid #f3f3f300;
    border-radius: 50%;
    border-top: 5px solid #15b600;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#robotIMG {
    position: relative;
    top: 20px;
}

#logoIMG {
    width: 150px;
    height: auto;
    position: absolute;
    left: 500px;
    top: 150px;
}